body{
    font-size: 12px;
}
#scn_pro{
    width: 80%;
    margin: 0 auto;
    .Navigation{
        padding: 10px 0;
        color:#999;
        span{
            margin: 0 5px 0 0;
        }
    }
}

.GoodsInfoWrap{

   
.etalage_zoom_area{
    position: absolute;z-index:99999;display: block;
}